@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body{
  font-family:'Krona One', sans-serif;
  background: linear-gradient(to right, #0476ef, #294766);
}
table.wp-list-table,.plugins tr,tr.active {
    background: linear-gradient(to top, #a1b0be, #a1afbe);
    border-radius: 12px;
}
.plugins, .plugins td, .plugins th{
  border-radius:12px;
}
.form-wrap p, p.description,h2, h3,h1.wp-heading-inline,
.subsubsub a .count, .subsubsub a.current .count,
.tablenav .one-page .displaying-num, h1,
ul.subsubsub a{
  color:white;
}

#adminmenu li.menu-top {
    border: none;
    min-height: 39px;
    position: relative;
    border: 0px;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, rgb(255 255 255), rgb(1 120 248));
    border-image-slice: 1;
    color: white;
    margin: auto;
    text-decoration: none;
}
.form-table th, .form-wrap label {
    color: #a1afbe;
  }
.postbox.closed, .postbox,.media-frame.mode-grid .media-toolbar{
  border-radius:12px;
}
h2.hndle.ui-sortable-handle{
  color:Black;
}
.wp-core-ui .attachment .thumbnail .centered img,
.wp-core-ui .attachment-preview{
  border-radius:28px;
}

#adminmenu a.menu-top:focus+.wp-submenu, .js #adminmenu .opensub .wp-submenu, .js #adminmenu .sub-open, .no-js li.wp-has-submenu:hover .wp-submenu {
    padding: 8px 6px 6px 2px;
}

#adminmenu .wp-submenu a{
  font-size:17px;
}

#wpadminbar * {
  font-family:'Krona One', sans-serif;
  font-size:17px;
  line-height:1.9;
}
#wpadminbar {
  height:37px;
}
tr.user-admin-color-wrap,
#wpadminbar #wp-admin-bar-wp-logo>.ab-item,
.wp-admin #wpadminbar #wp-admin-bar-site-name>.ab-item:before {
    display: none;
}
li#wp-admin-bar-site-name .ab-item {
    color: #007bff;
    text-transform: uppercase;
    text-decoration: overline;
}
div#wpfooter {
    display: none;
}

#adminmenu div.wp-menu-name {
    padding: 8px 8px 8px 57px;
  }

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap,#wpadminbar{
  background: linear-gradient(to right, #343a40, #007bff);
}
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.menu-top:hover,#adminmenu li.menu-top:focus,
#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus{

  background: linear-gradient(to right, #343a40, #007bff);
}
.wp-menu-name:hover,
#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus,
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after, #adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after,
#adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before{
    color:#ffffff;
}

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus{
  color : #007bff !important;
}
#adminmenu div.wp-menu-image:before {
    color: #007bff;
}

#wpcontent, #wpfooter {
    margin-left: 300px;
}
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap{
  width:255px;
}

#adminmenu .wp-submenu-head, #adminmenu a.menu-top, #adminmenu .wp-not-current-submenu li>a, .folded #adminmenu .wp-has-current-submenu li>a {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.48;
    font-family:'Krona One', sans-serif;
    background: linear-gradient(to right, #343a40, #007bff);

}



.dashicons, .dashicons-before:before{
  font-size:21px;
}


#adminmenu .wp-not-current-submenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu{
  min-width:237px;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after, #adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after{
  display:none;
}
